
/* src/App.css */
.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  color: white;
}
.line{
  font-size: 15px;
}
.container {
  padding: 20px;
}

.card {
  text-align: center;
}
.bg_bike{
  background-color: grey;
}
